body {
	background-color: rgb(39, 52, 67);
	color: rgb(30, 190, 165);
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 20px;
}

.messages {
	flex-grow: 1;
	margin-bottom: 20px;
	overflow-y: auto;
}

.messages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.messages li {
	margin-bottom: 10px;
}

.messages .user {
	color: rgb(30, 190, 165);
	font-weight: bold;
}

.messages .phone {
	margin-left: 10px;
	color: rgb(30, 190, 165);
	font-weight: bold;
}

.messages .message {
	margin-left: 10px;
}

.input form {
	display: flex;
}

.input input[type="text"],
.input textarea {
	background-color: rgb(39, 52, 67);
	border: none;
	color: rgb(30, 190, 165);
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 10px;
}

.input input[type="text"] {
	flex-grow: 1;
	margin-right: 10px;
}

.input textarea {
	flex-grow: 2;
	resize: none;
}

.input button[type="submit"] {
	background-color: rgb(30, 190, 165);
	border: none;
	color: rgb(39, 52, 67);
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 10px;
}
